name: docker-compose-actions-workflow
on: push
jobs:
  test_docker_compose:
    timeout-minutes: 1
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Docker build
        run: |
          DOCKER_BUILDKIT=1 docker image build --no-cache . -f docker/test.Dockerfile -t testcontainer
      - name: Docker compose
        run: |
          docker-compose -f composes/docker-compose.yml up